.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 4%;
}
.Navbar .logo{
    width: max(10% ,80px);
}

.Navbar .profile{
    /* width: 40px; */
    width: 70px;
    border-radius: 100%;
}